.login-form {

    border:2px solid DodgerBlue;

    background-color: cornflowerblue;
}

.body {
    background-color: lightgray;
}

.loginbox {

    margin: auto;
    width: 30%;
    /*border: 3px solid green;*/
    padding: 10px;
    background-color: white;

}

.padding {
    /*border: 1px solid blue;*/
    background-color: white;
    padding: 8px;
}