<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="../static/css/loginbox.css" th:href="@{/css/loginbox.css}">

</head>
<body>
<div class="page-header">
    <h1>Quotes
        <small>simple quotes</small>
    </h1>
</div>
<div class="container">
    <ul th:each="quote : ${quotes}">
        <li th:text="${quote.getQuote()}"></li>
    </ul>
    <div class="row">
        <div class=" col-md-4">
            <div class="thumbnail">
                <img src="https://img.discogs.com/Zuu63mGuIdRc0Vh1lKEQjJF2um4=/600x692/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-110593-1449578430-6807.jpeg.jpg"
                     alt="...">
                <div class="caption">
                    <p>I’m the one that’s got to die when it’s time for me to die, so let me live my life the way I want
                        to.</p>
                    <h3><a href="https://es.wikipedia.org/wiki/Jimi_Hendrix" target="_blank">Jimmy Hendrix</a></h3>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <img src="https://img.discogs.com/Zuu63mGuIdRc0Vh1lKEQjJF2um4=/600x692/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-110593-1449578430-6807.jpeg.jpg"
                     alt="...">
                <div class="caption">
                    <p>I’m the one that’s got to die when it’s time for me to die, so let me live my life the way I want
                        to.</p>
                    <h3><a href="https://es.wikipedia.org/wiki/Jimi_Hendrix" target="_blank">Jimmy Hendrix</a></h3>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="thumbnail">
                <img src="https://img.discogs.com/Zuu63mGuIdRc0Vh1lKEQjJF2um4=/600x692/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/A-110593-1449578430-6807.jpeg.jpg"
                     alt="...">
                <div class="caption">
                    <p>I’m the one that’s got to die when it’s time for me to die, so let me live my life the way I want
                        to.</p>
                    <h3><a href="https://es.wikipedia.org/wiki/Jimi_Hendrix" target="_blank">Jimmy Hendrix</a></h3>
                </div>
            </div>
        </div>


    </div>
</div>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>